{% extends "global/Page.html" %}
{% load otree static %}
{% block styles %}
<style>
  .otree-btn-next {
      content: "Next Block"
  }
</style>
{% endblock %}
{% block title %}
Block Results
{% endblock %}

{% block content %}
<strong> You have completed block  </strong> {{block_num}}
<p> Block Participation Fee: {{ participation }}
<p> The payoff for this block is calculated as the sum of the payoff of each round subtracted by the participation fee of the block:
</p>
<p> Block Payoff = Round 1 Payoff + Round 2 Payoff + Round 3 Payoff + Round 4 Payoff  - Participation Fee</p>
<p> {{total_payoff }} = {{round_1}} + {{ round_2 }} + {{round_3}} + {{round_4}}  - {{participation}}</p>
    {% next_button %}
{% endblock %}
